.bg-tnits-dark {
  background-color: #1a2a40 !important;
  color: white;
}

.bg-tnits-light {
  background-color: #aac4c5 !important;
}
.mb-0 h5 {
  color: black;
}

.navbar {
  height: 75px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.navbar .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar-brand img {
  height: 150px;
  width: 249px;
  width: auto;
  object-fit: contain;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #2e445b;
  color: #c0d9e9;
  transition: all 0.3s;
}

.sidebar a {
  color: #c0d9e9;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.sidebar a:hover {
  background-color: #4a6c8e;
  color: white;
}

.sidebar .nav-link.active {
  background-color: #4a6c8e;
  color: white;
  border-left: 3px solid #66ccff;
}

.sidebar .nav-link-header {
  color: #a0c2e0;
  padding: 10px 15px;
  font-weight: bold;
}

/*  content area for sidebar */
.content-wrapper {
  flex-grow: 1;
  padding: 20px;
}

.add-field-of-study-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 20px;
}

/* Responsivnes */
@media (max-width: 991.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 1040;
  }

  .sidebar.show {
    left: 0;
  }

  body.sidebar-open {
    margin-left: 250px;
  }
}
